<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>db_userid</param-name>
        <param-value>dwilli11</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>XJE9HJzw5zd4</param-value>
    </context-param>
    <listener>
        <listener-class>
             JDBC.GlobalConnectionPool
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>WebLoginEachTime</servlet-name>
        <servlet-class>my_servlets.WebLoginEachTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebInstaceConnectionSingleThreaded</servlet-name>
        <servlet-class>my_servlets.WebInstaceConnectionSingleThreaded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebInstanceConnectionSingleThreaded</servlet-name>
        <servlet-class>my_servlets.WebInstanceConnectionSingleThreaded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebSessionLogin</servlet-name>
        <servlet-class>my_servlets.WebSessionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebProcessLogin</servlet-name>
        <servlet-class>my_servlets.WebProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebConnectionPoolFirst</servlet-name>
        <servlet-class>my_servlets.WebConnectionPoolFirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebConnectionPoolShared</servlet-name>
        <servlet-class>my_servlets.WebConnectionPoolShared</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebLoginEachTime</servlet-name>
        <url-pattern>/WebLoginEachTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebInstaceConnectionSingleThreaded</servlet-name>
        <url-pattern>/WebInstaceConnectionSingleThreaded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebInstanceConnectionSingleThreaded</servlet-name>
        <url-pattern>/WebInstanceConnectionSingleThreaded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebSessionLogin</servlet-name>
        <url-pattern>/WebSessionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebProcessLogin</servlet-name>
        <url-pattern>/WebProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebConnectionPoolFirst</servlet-name>
        <url-pattern>/WebConnectionPoolFirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebConnectionPoolShared</servlet-name>
        <url-pattern>/WebConnectionPoolShared</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
