<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <context-param>
        <param-name>db_userid</param-name>
        <param-value>dwilli11</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>XJE9HJzw5zd4</param-value>
    </context-param>
    <listener>
        <listener-class>
             jdbc.GlobalConnectionPool
             
        </listener-class>
    </listener>
  
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
